{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('auth', '인증', true) }}
  {{ macros.m_tab_head_end() }}
</nav>

<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
{{ macros.m_tab_content_start('auth', true) }}
  {{ macros.setting_input_text('sjva_id', '홈페이지 ID', value=arg['sjva_id'], desc=['APIKEY 변경시 재인증해야 합니다.'], col='3') }}
  {{ macros.info_text_and_buttons('apikey', 'APIKEY', [['globalLinkBtn','설정으로 이동', [['url', '/system/setting/auth']]]], value=arg['apikey'], desc=None) }}
  {{ macros.info_text_and_buttons('auth_result', '인증상태', [['do_auth_btn', '인증하기']], value=arg['auth_result']['desc'], desc=None) }}
{{ macros.m_tab_content_end() }} 
</form>
</div>

<script type="text/javascript">

$(document).ready(function(){
});

$("body").on('click', '#do_auth_btn', function(e) {
  e.preventDefault();
  globalSendCommand('do_auth', $('#sjva_id').val(), null, null, function(ret){
    $("#auth_result").html(ret.auth_result.desc);
  });
});

</script>    
{% endblock %}